services:
  mongo:
    image: mongo:latest

    ports:
      - "27017:27017"

    volumes:
      - mongo-data:/data/db
    
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=root
    
  mongo-express:
    image: mongo-express:latest

    ports:
      - "8081:8081"
    
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=root
      - ME_CONFIG_MONGODB_URL=mongodb://admin:root@mongo:27017/

    depends_on:
      - mongo

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://admin:root@mongo:27017/sauna?authSource=admin
    depends_on:
      - mongo

volumes:
  mongo-data: